@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
@import url("https://blogfonts.com/css/aWQ9MTczOTkwJnN1Yj05OTAmYz1kJnR0Zj1kYi1oZWx2ZXRoYWljYS14LWJkLWV4dC1pdC12MzIudHRmJm49ZGItaGVsdmV0aGFpY2EteA/DB Helvethaica X.ttf");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Bebas Neue", "Poppins", sans-serif;
    height: "100vh";
    background: #292929;
  }
}

::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: transparent !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

@media print {
  .successpage * {
    display: none;
  }
  .print-content {
    display: block;
    width: 58mm;
  }
  .custom-paper-size {
    size: custom 210mm 297mm;
  }
}
